@model SkillsAssessment.Models.Account

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_TraqLayout.cshtml";
}

<h2 align="center" style="color:white;background-color:grey;"> Close @Model.Person.Name @Model.Person.Surname Acount</h2>

<h3>Are you sure you want to close this account?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutstandingBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutstandingBalance)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Close Account" class="btn btn-default" /> |
    @Html.ActionLink("Back to Person", "Details", "People", new { id = Model.PersonCode }, null)
</div>
    }
</div>
