@model SkillsAssessment.ViewModels.AccountVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_TraqLayout.cshtml";
}


@if (TempData["Success"] != null)
{
    if (TempData["Success"].Equals(true))
    {
        <div class="alert alert-success">
            <strong>Success!</strong> @TempData["CompletedAction"]
        </div>
    }
    else
    {
        <div class="alert alert-danger">          
            @TempData["CompletedAction"]
        </div>
    }
}
<div>
    <h2 align="center" style="color:white;background-color:grey;">@Model.Account.Person.Name @Model.Account.Person.Surname Account Details</h2>
    <dl class="dl-horizontal">
        <dt>
            Account Holder
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Person.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.OutstandingBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.OutstandingBalance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Status.Name)
        </dd>

    </dl>
    <h2 align="center" style="color:white;background-color:grey;">@Model.Account.Person.Name @Model.Account.Person.Surname Linked Transactions</h2>
    @Html.ActionLink("Create New Transaction", "Create", "Transactions", new { Code = Model.Account.Code }, null)
    @Html.Partial("~/Views/Shared/_TransactionInfo.cshtml",Model.Transactions)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Account.Code }) |
    @Html.ActionLink("Back to Person", "Details","People", new { id = Model.Account.PersonCode },null)
</p>
