@model IEnumerable<SkillsAssessment.Models.Account>
@using SkillsAssessment.Keys
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TraqLayout.cshtml";
}
@if (TempData["Success"] != null)
{
    if (TempData["Success"].Equals(true))
    {
        <div class="alert alert-success">
            <strong>Success!</strong> @TempData["CompletedAction"]
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            @TempData["CompletedAction"]
        </div>
    }
}
<h2 align="center" style="background-color:grey; color:white;text-align:center">People</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Account Holder
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutstandingBalance)
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutstandingBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Code }) |
                @Html.ActionLink("Details", "Details", new { id = item.Code }) |
                @if (item.Status.Key == StatusKeys.AccountOpen)
                {
                    @Html.ActionLink("Close Account", "Delete", new { id = item.Code })
                }
                else
                {
                    @Html.ActionLink("Open Account", "Open", new { id = item.Code })
                }
            </td>
        </tr>
    }

</table>
