@model SkillsAssessment.Models.Transaction

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_TraqLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaptureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaptureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Code }) |
    @Html.ActionLink("Back to Account", "Details","BankAccounts", new { id = Model.AccountCode },null) 
</p>
